In [1]:
'''
CS 6364.002

Homework 5
----------
Name:       Kevin Chen
NetID:      nkc160130
Instructor: Professor Chen
Due:        09/28/2020
'''
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
from Regression import *

# Q1
housing_df = pd.read_csv("HousingData.csv")
housing_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [2]:
# Preprocessing data

# Impute the null values
simp_imp = SimpleImputer(missing_values=np.nan, strategy="mean")
housing_df.replace('?', np.nan, inplace=True)
housing_df_columns = housing_df.columns
housing_df_index = housing_df.index
housing_df = pd.DataFrame(simp_imp.fit_transform(housing_df))
housing_df.columns = housing_df_columns
housing_df.index = housing_df_index

# Use LSTAT and PTRATIO as features
X = pd.DataFrame(np.c_[housing_df["LSTAT"], housing_df["PTRATIO"]], columns=[
                 "LSTAT", "PTRATIO"])
Y = housing_df["MEDV"]

# Split into 70% training set, 30% testing set
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [3]:
# Q1 part 1
print("Q1 with Gradient Descent" + "\n" +
      "------------------------")
q1_1 = LinearReg_GD()
q1_1.fit(X_train, Y_train)
q1_1_train_predictions = q1_1.predict(X_train)

# Model evaluation for training set
print("Root Mean Squared Error (RMSE) on training set:\n", np.sqrt(
    q1_1.mean_squared_error(Y_train, q1_1_train_predictions)), "\n", sep="")

# Model evaluation for testing set
q1_1_test_predictions = q1_1.predict(X_test)

print("Root Mean Squared Error (RMSE) on testing set:\n", np.sqrt(
    q1_1.mean_squared_error(Y_test, q1_1_test_predictions)), "\n", sep="")

Q1 with Gradient Descent
------------------------
Root Mean Squared Error (RMSE) on training set:
8.072821474133834

Root Mean Squared Error (RMSE) on testing set:
9.376513300280873

In [4]:
# Q1 part 2
print("Q1 with Stochastic Gradient Descent" + "\n" +
      "-----------------------------------")
q1_2 = LinearReg_SGD()
q1_2.fit(X_train, Y_train)
q1_2_train_predictions = q1_2.predict(X_train)

# Model evaluation for training set
print("Root Mean Squared Error (RMSE) on training set:\n", np.sqrt(
    q1_2.mean_squared_error(Y_train, q1_2_train_predictions)), "\n", sep="")

# Model evaluation for testing set
q1_2_test_predictions = q1_2.predict(X_test)

print("Root Mean Squared Error (RMSE) on testing set:\n", np.sqrt(
    q1_2.mean_squared_error(Y_test, q1_2_test_predictions)), "\n", sep="")

Q1 with Stochastic Gradient Descent
-----------------------------------
Root Mean Squared Error (RMSE) on training set:
9.351433786784007

Root Mean Squared Error (RMSE) on testing set:
10.808650683097785

In [5]:
# Q1 part 3
print("Q1 with Stochastic Gradient Descent with Momentum" + "\n" +
      "-------------------------------------------------")
q1_3 = LinearReg_SGD_Momentum()
q1_3.fit(X_train, Y_train)
q1_3_train_predictions = q1_3.predict(X_train)

# Model evaluation for training set
print("Root Mean Squared Error (RMSE) on training set:\n", np.sqrt(
    q1_3.mean_squared_error(Y_train, q1_3_train_predictions)), "\n", sep="")

# Model evaluation for testing set
q1_3_test_predictions = q1_3.predict(X_test)

print("Root Mean Squared Error (RMSE) on testing set:\n", np.sqrt(
    q1_3.mean_squared_error(Y_test, q1_3_test_predictions)), "\n", sep="")

Q1 with Stochastic Gradient Descent with Momentum
-------------------------------------------------
Root Mean Squared Error (RMSE) on training set:
8.24242981241973

Root Mean Squared Error (RMSE) on testing set:
9.419159432304287

In [6]:
# Q1 part 4
print("Q1 with Stochastic Gradient Descent with Nesterov Momentum" + "\n" +
      "-------------------------------------------------")
q1_4 = LinearReg_SGD_Nesterov()
q1_4.fit(X_train, Y_train)
q1_4_train_predictions = q1_3.predict(X_train)

# Model evaluation for training set
print("Root Mean Squared Error (RMSE) on training set:\n", np.sqrt(
    q1_4.mean_squared_error(Y_train, q1_4_train_predictions)), "\n", sep="")

# Model evaluation for testing set
q1_4_test_predictions = q1_4.predict(X_test)

print("Root Mean Squared Error (RMSE) on testing set:\n", np.sqrt(
    q1_4.mean_squared_error(Y_test, q1_4_test_predictions)), "\n", sep="")

Q1 with Stochastic Gradient Descent with Nesterov Momentum
-------------------------------------------------
Root Mean Squared Error (RMSE) on training set:
8.24242981241973

Root Mean Squared Error (RMSE) on testing set:
9.456949546570558

In [7]:
# Q1 part 5
print("Q1 with AdaGrad" + "\n" +
      "---------------")
q1_5 = LinearReg_AdaGrad()
q1_5.fit(X_train, Y_train)
q1_5_train_predictions = q1_5.predict(X_train)

# Model evaluation for training set
print("Root Mean Squared Error (RMSE) on training set:\n", np.sqrt(
    q1_5.mean_squared_error(Y_train, q1_5_train_predictions)), "\n", sep="")

# Model evaluation for testing set
q1_5_test_predictions = q1_5.predict(X_test)

print("Root Mean Squared Error (RMSE) on testing set:\n", np.sqrt(
    q1_5.mean_squared_error(Y_test, q1_5_test_predictions)), "\n", sep="")

Q1 with AdaGrad
---------------
Root Mean Squared Error (RMSE) on training set:
7.08834408703385

Root Mean Squared Error (RMSE) on testing set:
8.34038754197876

In [8]:
# Q2
titanic_df = pd.read_csv("titanic3.csv")
titanic_df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [9]:
# Impute the null values for age column
def impute_age(columns):
    age = columns[0]
    pclass = columns[1]

    if pd.isnull(age):
        return round(titanic_df[titanic_df["pclass"] == pclass]["age"].mean())
    return age


titanic_df["age"] = titanic_df[["age", "pclass"]].apply(impute_age, axis=1)
titanic_df.drop("cabin", axis=1, inplace=True)

# Remove unnecessary columns and convert certain categorical variables to one-hot representations
sex_col = pd.get_dummies(titanic_df["sex"], drop_first=True)
embarked_col = pd.get_dummies(titanic_df["embarked"], drop_first=True)

titanic_df.drop(["name", "ticket", "sex", "embarked",
                 "home.dest", "body", "boat"], axis=1, inplace=True)
titanic_df = pd.concat([titanic_df, sex_col, embarked_col], axis=1)
titanic_df.dropna(axis=0, inplace=True)

In [10]:
# Use the Standard Scaler on the data
std_scaler = StandardScaler()
X = titanic_df.drop("survived", axis=1)
X_columns = X.columns
X_index = X.index
X_scaled = pd.DataFrame(std_scaler.fit_transform(X))
X_scaled.columns = X_columns
X_scaled.index = X_index
titanic_df = pd.concat([X_scaled, titanic_df["survived"]], axis=1)
titanic_df.head()

,pclass,age,sibsp,parch,fare,male,Q,S,survived
0,-1.545283,-0.027118,-0.479312,-0.445203,3.441165,-1.344198,-0.322176,0.657753,1
1,-1.545283,-2.172873,0.480780,1.865614,2.285603,0.743938,-0.322176,0.657753,1
2,-1.545283,-2.090344,0.480780,1.865614,2.285603,-1.344198,-0.322176,0.657753,0
3,-1.545283,0.049298,0.480780,1.865614,2.285603,0.743938,-0.322176,0.657753,0
4,-1.545283,-0.332781,0.480780,1.865614,2.285603,-1.344198,-0.322176,0.657753,0

In [11]:
# Split into 80% training set, 20% testing set
X = titanic_df.drop("survived", axis=1)
Y = titanic_df["survived"]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [12]:
# Q2 part 1
print("Q2 with Gradient Descent" + "\n" +
      "------------------------")
q2_1 = LogisticReg_GD()
q2_1.fit(X_train, Y_train)

q2_1_train_predictions = q2_1.predict(X_train)

# Model evaluation for training set
print("Accuracy on training set:\n", q2_1.accuracy_score(
    Y_train, q2_1_train_predictions), "\n", sep="")
print(q2_1.classification_report(Y_train, q2_1_train_predictions), end="\n\n")

# Model evaluation for testing set
q2_1_test_predictions = q2_1.predict(X_test)

print("Accuracy on testing set:\n", q2_1.accuracy_score(
    Y_test, q2_1_test_predictions), "\n", sep="")
print(q2_1.classification_report(Y_test, q2_1_test_predictions), end="\n\n")

Q2 with Gradient Descent
------------------------
Accuracy on training set:
0.780114722753346

   precision    recall  f1_score
0   0.824962  0.824962  0.824962
1   0.704370  0.704370  0.704370

Accuracy on testing set:
0.7595419847328244

   precision    recall  f1_score
0   0.768293  0.834437  0.800000
1   0.744898  0.657658  0.698565

In [13]:
# Q2 part 2
print("Q2 with Stochastic Gradient Descent" + "\n" +
      "------------------------")
q2_2 = LogisticReg_SGD()
q2_2.fit(X_train, Y_train)

q2_2_train_predictions = q2_2.predict(X_train)

# Model evaluation for training set
print("Accuracy on training set:\n", q2_2.accuracy_score(
    Y_train, q2_2_train_predictions), "\n", sep="")
print(q2_2.classification_report(Y_train, q2_2_train_predictions), end="\n\n")

# Model evaluation for testing set
q2_2_test_predictions = q2_2.predict(X_test)

print("Accuracy on testing set:\n",
      q2_2.accuracy_score(Y_test, q2_2_test_predictions), "\n", sep="")
print(q2_2.classification_report(Y_test, q2_2_test_predictions), end="\n\n")

Q2 with Stochastic Gradient Descent
------------------------
Accuracy on training set:
0.7791586998087954

   precision    recall  f1_score
0   0.818862  0.832572  0.825660
1   0.708995  0.688946  0.698827

Accuracy on testing set:
0.7366412213740458

   precision    recall  f1_score
0   0.750000  0.814570  0.780952
1   0.714286  0.630631  0.669856

In [14]:
# Q2 part 3
print("Q2 with Stochastic Gradient Descent with Momentum" + "\n" +
      "------------------------")
q2_3 = LogisticReg_SGD_Momentum()
q2_3.fit(X_train, Y_train)

q2_3_train_predictions = q2_3.predict(X_train)

# Model evaluation for training set
print("Accuracy on training set:\n", q2_3.accuracy_score(
    Y_train, q2_3_train_predictions), "\n", sep="")
print(q2_3.classification_report(Y_train, q2_3_train_predictions), end="\n\n")

# Model evaluation for testing set
q2_3_test_predictions = q2_3.predict(X_test)

print("Accuracy on testing set:\n", q2_3.accuracy_score(
    Y_test, q2_3_test_predictions), "\n", sep="")
print(q2_3.classification_report(Y_test, q2_3_test_predictions), end="\n\n")

Q2 with Stochastic Gradient Descent with Momentum
------------------------
Accuracy on training set:
0.780114722753346

   precision    recall  f1_score
0   0.820090  0.832572  0.826284
1   0.709763  0.691517  0.700521

Accuracy on testing set:
0.7366412213740458

   precision    recall  f1_score
0   0.750000  0.814570  0.780952
1   0.714286  0.630631  0.669856

In [15]:
# Q2 part 4
print("Q2 with Stochastic Gradient Descent with Nesterov Momentum" + "\n" +
      "------------------------")
q2_4 = LogisticReg_SGD_Nesterov()
q2_4.fit(X_train, Y_train)

q2_4_train_predictions = q2_4.predict(X_train)

# Model evaluation for training set
print("Accuracy on training set:\n", q2_4.accuracy_score(
    Y_train, q2_4_train_predictions), "\n", sep="")
print(q2_4.classification_report(Y_train, q2_4_train_predictions), end="\n\n")

# Model evaluation for testing set
q2_4_test_predictions = q2_4.predict(X_test)

print("Accuracy on testing set:\n", q2_4.accuracy_score(
    Y_test, q2_4_test_predictions), "\n", sep="")
print(q2_4.classification_report(Y_test, q2_4_test_predictions), end="\n\n")

Q2 with Stochastic Gradient Descent with Nesterov Momentum
------------------------
Accuracy on training set:
0.7791586998087954

   precision    recall  f1_score
0   0.818862  0.832572  0.825660
1   0.708995  0.688946  0.698827

Accuracy on testing set:
0.7404580152671756

   precision    recall  f1_score
0   0.751515  0.821192  0.784810
1   0.721649  0.630631  0.673077

In [16]:
# Q2 part 5
print("Q2 with AdaGrad" + "\n" +
      "------------------------")
q2_5 = LogisticReg_AdaGrad()
q2_5.fit(X_train, Y_train)

q2_5_train_predictions = q2_5.predict(X_train)

# Model evaluation for training set
print("Accuracy on training set:\n", q2_5.accuracy_score(
    Y_train, q2_5_train_predictions), "\n", sep="")
print(q2_5.classification_report(Y_train, q2_5_train_predictions), end="\n\n")

# Model evaluation for testing set
q2_5_test_predictions = q2_5.predict(X_test)

print("Accuracy on testing set:\n", q2_5.accuracy_score(
    Y_test, q2_5_test_predictions), "\n", sep="")
print(q2_5.classification_report(Y_test, q2_5_test_predictions), end="\n\n")

Q2 with AdaGrad
------------------------
Accuracy on training set:
0.7934990439770554

   precision    recall  f1_score
0   0.822840  0.855403  0.838806
1   0.738292  0.688946  0.712766

Accuracy on testing set:
0.7786259541984732

   precision    recall  f1_score
0   0.775148  0.867550  0.818750
1   0.784946  0.657658  0.715686